.form__btn {
	text-transform: uppercase; /* Монтсеррат обожает капс */
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
}

.main {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
}

.login {
	display: block;
	&__title {
		margin-top: 1rem;
		margin-bottom: 0px;
	}
	text-align: center;
	max-width: 1280px;
}

.form {
	border: 1px solid rgb(39, 39, 181);
	border-radius: 5px;
	box-shadow: 1px 2px 10px 4px rgb(164, 161, 161);

	&__data {
		padding: 1rem 3rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		justify-content: center;
	}

	&__tabs {
		overflow: hidden;
		background-color: inherit;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-bottom: 1px solid gray;
		width: 100%;
	}

	&__btn {
		background-color: inherit;
		text-transform: none;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 1.2rem;
		flex: 1;
		text-align: center;

		&-reg {
			background-color: rgb(124, 124, 189);
			color: white;
			border-radius: 5px 0 0 0;
			border-right: 1px solid rgb(250, 250, 250);
			transition: 0.3s;
			&:hover {
				background-color: rgb(48, 48, 118);
			}
		}

		&-enter {
			background-color: rgb(124, 124, 189);
			color: white;
			border-radius: 0 5px 0 0;
			transition: 0.3s;
			&:hover {
				background-color: rgb(48, 48, 118);
			}
		}
	}

	label {
		text-align: left;
	}

	input[type='text'],
	input[type='date'],
	&__select {
		padding: 9px;
		border-radius: 5px;
		border: 1px solid rgb(86, 86, 210);

	}


}

.tab-active {
	background-color: rgb(31, 31, 86);
}

.btn {
	padding: 0.65rem 2.3rem;
	background-color: rgb(69, 69, 174);
	color: white;
	border-radius: 5px;
	border: none;
	transition: 0.3s;
	cursor: pointer;
	font-size: 1.3rem;
	min-width: 200px;
	margin-bottom: 1rem;

	&:hover {
		background-color: rgb(31, 31, 86);
	}
}

.success-message {
	text-align: center;
	padding: 2rem;
}

.disable {
	background-color: rgb(202, 201, 201);
}
