@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import url('./styles/_form.scss');
@import url('./styles/_list.scss');

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	background-color: rgb(86, 86, 179);
	padding: 0;
	margin: 0;
	color: white;
	padding: 2rem;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.center-text {
	text-align: center;
}
