#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.main {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
}

.login {
	display: block;
}

.form {
	padding: 2rem 3rem;
	border: 1px solid rgb(86, 86, 210);
	border-radius: 5px;
	box-shadow: 1px 2px 10px 4px rgb(164, 161, 161);

	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}

	label {
		text-align: left;
	}

	&__select {
		padding: 5px;
	}
}

.btn {
	padding: 0.5rem 2rem;
	background-color: rgb(69, 69, 174);
	color: white;
	border-radius: 5px;
	border: none;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		background-color: rgb(31, 31, 86);
	}
}
